<a href="https://colab.research.google.com/github/pewpiece/Google-Collab/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Series and DataFrame

In [ ]:
import pandas as pd

data = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print(data)
print(data['b'])     # 20
print(data[1])       # 20

a    10
b    20
c    30
d    40
dtype: int64
20
20

<ipython-input-2-2fe762e47b57>:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(data[1])       # 20

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [24, 27, 22],
    'City': ['NY', 'LA', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

      Name  Age     City
0    Alice   24       NY
1      Bob   27       LA
2  Charlie   22  Chicago

Read And Write Files And Some Basic Methods Attributes

In [ ]:
import pandas as pd

# Read CSV from URL
url = "https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv"
df = pd.read_csv(url)

# Show first 5 rows
print(df.head())

   land_area  percent_city  percent_senior  physicians  hospital_beds  \
0       1384          78.1            12.3       25627          69678
1       3719          43.9             9.4       13326          43292
2       3553          37.4            10.7        9724          33731
3       3916          29.9             8.8        6402          24167
4       2480          31.5            10.5        8502          16751

   graduates  work_force  income  region  crime_rate
0       50.1      4083.9   72100       1       75.55
1       53.9      3305.9   54542       2       56.03
2       50.6      2066.3   33216       1       41.32
3       52.2      1966.7   32906       2       67.38
4       66.1      1514.5   26573       4       80.19

In [ ]:
# View shape (rows, columns)
print(df.shape)

# View column names
print(df.columns)

# View data types
print(df.dtypes)

# Summary statistics
print(df.describe())

# Check for missing values
print(df.isnull().sum())

# Info about the DataFrame
print(df.info())

(99, 10)
Index(['land_area', 'percent_city', 'percent_senior', 'physicians',
       'hospital_beds', 'graduates', 'work_force', 'income', 'region',
       'crime_rate'],
      dtype='object')
land_area           int64
percent_city      float64
percent_senior    float64
physicians          int64
hospital_beds       int64
graduates         float64
work_force        float64
income              int64
region              int64
crime_rate        float64
dtype: object
          land_area  percent_city  percent_senior    physicians  \
count     99.000000     99.000000       99.000000     99.000000
mean    2615.727273     42.518182        9.781818   1828.333333
std     3045.826210     17.348277        2.524547   3192.199763
min       47.000000     13.400000        3.900000    140.000000
25%     1408.000000     30.100000        8.350000    459.000000
50%     1951.000000     39.500000        9.700000    774.000000
75%     2890.500000     52.600000       10.750000   1911.500000
max    27293.000000    100.000000       21.800000  25627.000000

       hospital_beds  graduates   work_force        income     region  \
count      99.000000  99.000000    99.000000     99.000000  99.000000
mean     6345.868687  54.463636   449.366667   6762.505051   2.494949
std      9136.202716   7.773286   610.990885  10393.349660   1.013921
min       481.000000  30.300000    66.900000    769.000000   1.000000
25%      2390.000000  50.250000   150.300000   2003.000000   2.000000
50%      3472.000000  54.000000   257.200000   3510.000000   3.000000
75%      6386.500000  58.300000   436.500000   6283.500000   3.000000
max     69678.000000  72.800000  4083.900000  72100.000000   4.000000

       crime_rate
count   99.000000
mean    55.643030
std     13.470943
min     23.320000
25%     46.115000
50%     56.060000
75%     63.860000
max     85.620000
land_area         0
percent_city      0
percent_senior    0
physicians        0
hospital_beds     0
graduates         0
work_force        0
income            0
region            0
crime_rate        0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   land_area       99 non-null     int64
 1   percent_city    99 non-null     float64
 2   percent_senior  99 non-null     float64
 3   physicians      99 non-null     int64
 4   hospital_beds   99 non-null     int64
 5   graduates       99 non-null     float64
 6   work_force      99 non-null     float64
 7   income          99 non-null     int64
 8   region          99 non-null     int64
 9   crime_rate      99 non-null     float64
dtypes: float64(5), int64(5)
memory usage: 7.9 KB
None

In [ ]:
# Save to local CSV
df.to_csv("metropolitan_data.csv", index=False)

Indexing, Selecting and Assigning

In [ ]:
import pandas as pd

# Load dataset
url = "https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv"
sma_data = pd.read_csv(url)

# Select the 10th observation (index 9)
row_10 = sma_data.iloc[9]

# Get the crime_rate for this observation
crime_rate = row_10['crime_rate']
print("Crime rate for the 10th observation:", crime_rate)

Crime rate for the 10th observation: 55.3

In [ ]:
import pandas as pd

# Load dataset
url = "https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv"
sma_data = pd.read_csv(url)

# Select the 'physicians' column
physicians_column = sma_data['physicians']

# Get the last value
last_physician_value = physicians_column.iloc[-1]

print("Last value in 'physicians' column:", last_physician_value)

Last value in 'physicians' column: 140

In [ ]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv"
sma_data = pd.read_csv(url)

# Select rows with index labels 1, 3, 5, 7, 9, 13 and specific columns using .loc
sample_data1 = sma_data.loc[[1, 3, 5, 7, 9, 13], ['land_area', 'work_force', 'income', 'region', 'crime_rate']]

# Show the result
print(sample_data1)
print("Shape of sample_data1:", sample_data1.shape)

    land_area  work_force  income  region  crime_rate
1        3719      3305.9   54542       2       56.03
3        3916      1966.7   32906       2       67.38
5        2815      1541.9   25663       3       58.48
7        6794      1272.7   18221       3       64.88
9        4647      1032.2   14542       2       55.30
13        782       915.2   12591       4       63.20
Shape of sample_data1: (6, 5)

In [ ]:
import pandas as pd

# Load dataset
url = "https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv"
sma_data = pd.read_csv(url)

# Filter where region == 2
sample_data2 = sma_data[sma_data['region'] == 2]

# Get the number of observations (rows)
num_rows = sample_data2.shape[0]

print("Number of observations in sample_data2:", num_rows)

Number of observations in sample_data2: 25

Summary and Aggregation Functions

In [ ]:
# Summary stats for the whole dataframe
print(sma_data.describe())

# Mean of income column
print(sma_data['income'].mean())

          land_area  percent_city  percent_senior    physicians  \
count     99.000000     99.000000       99.000000     99.000000
mean    2615.727273     42.518182        9.781818   1828.333333
std     3045.826210     17.348277        2.524547   3192.199763
min       47.000000     13.400000        3.900000    140.000000
25%     1408.000000     30.100000        8.350000    459.000000
50%     1951.000000     39.500000        9.700000    774.000000
75%     2890.500000     52.600000       10.750000   1911.500000
max    27293.000000    100.000000       21.800000  25627.000000

       hospital_beds  graduates   work_force        income     region  \
count      99.000000  99.000000    99.000000     99.000000  99.000000
mean     6345.868687  54.463636   449.366667   6762.505051   2.494949
std      9136.202716   7.773286   610.990885  10393.349660   1.013921
min       481.000000  30.300000    66.900000    769.000000   1.000000
25%      2390.000000  50.250000   150.300000   2003.000000   2.000000
50%      3472.000000  54.000000   257.200000   3510.000000   3.000000
75%      6386.500000  58.300000   436.500000   6283.500000   3.000000
max     69678.000000  72.800000  4083.900000  72100.000000   4.000000

       crime_rate
count   99.000000
mean    55.643030
std     13.470943
min     23.320000
25%     46.115000
50%     56.060000
75%     63.860000
max     85.620000
6762.50505050505

In [ ]:
# Average crime_rate per region
sma_data.groupby('region')['crime_rate'].mean()

region
1    41.951905
2    53.974400
3    58.265556
4    69.455882
Name: crime_rate, dtype: float64

In [ ]:
# Count cities per region
sma_data.groupby('region').size()

# Min and max income by region
sma_data.groupby('region')['income'].agg(['min', 'max'])

# Custom aggregate functions
sma_data.groupby('region')['income'].agg(['mean', 'median', 'std'])

               mean  median           std
region
1       9225.571429  3860.0  16187.761095
2       8206.920000  3725.0  11762.764201
3       4806.861111  2976.5   5452.647656
4       5737.117647  2747.0   6368.078035

In [ ]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv"
sma_data = pd.read_csv(url)

# Apply mean() on the DataFrame
means = sma_data.mean(numeric_only=True)

# Print the result
print(means)

land_area         2615.727273
percent_city        42.518182
percent_senior       9.781818
physicians        1828.333333
hospital_beds     6345.868687
graduates           54.463636
work_force         449.366667
income            6762.505051
region               2.494949
crime_rate          55.643030
dtype: float64

In [ ]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv"
sma_data = pd.read_csv(url)

# Get unique values in 'region' column
unique_regions = sma_data['region'].unique()

# Count unique values
num_unique_regions = len(unique_regions)

print("Unique values in 'region':", unique_regions)
print("Number of unique regions:", num_unique_regions)

Unique values in 'region': [1 2 4 3]
Number of unique regions: 4

In [ ]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv"
sma_data = pd.read_csv(url)

# Get summary statistics
summary = sma_data.describe()

print(summary)

          land_area  percent_city  percent_senior    physicians  \
count     99.000000     99.000000       99.000000     99.000000
mean    2615.727273     42.518182        9.781818   1828.333333
std     3045.826210     17.348277        2.524547   3192.199763
min       47.000000     13.400000        3.900000    140.000000
25%     1408.000000     30.100000        8.350000    459.000000
50%     1951.000000     39.500000        9.700000    774.000000
75%     2890.500000     52.600000       10.750000   1911.500000
max    27293.000000    100.000000       21.800000  25627.000000

       hospital_beds  graduates   work_force        income     region  \
count      99.000000  99.000000    99.000000     99.000000  99.000000
mean     6345.868687  54.463636   449.366667   6762.505051   2.494949
std      9136.202716   7.773286   610.990885  10393.349660   1.013921
min       481.000000  30.300000    66.900000    769.000000   1.000000
25%      2390.000000  50.250000   150.300000   2003.000000   2.000000
50%      3472.000000  54.000000   257.200000   3510.000000   3.000000
75%      6386.500000  58.300000   436.500000   6283.500000   3.000000
max     69678.000000  72.800000  4083.900000  72100.000000   4.000000

       crime_rate
count   99.000000
mean    55.643030
std     13.470943
min     23.320000
25%     46.115000
50%     56.060000
75%     63.860000
max     85.620000

In [ ]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv"
sma_data = pd.read_csv(url)

# Select observations where region == 3
sample_data1 = sma_data[sma_data['region'] == 3]

# Display summary info
print(sample_data1.head())
print("\nShape:", sample_data1.shape)
print("\nSummary:\n", sample_data1.describe())

    land_area  percent_city  percent_senior  physicians  hospital_beds  \
5        2815          23.1             6.7        7340          16941
6        8360          46.3             8.2        4047          14347
7        6794          60.1             6.3        4562          14333
12       4326          23.6             7.3        3064           9976
16       2045          37.2            21.4        1949           8863

    graduates  work_force  income  region  crime_rate
5        68.3      1541.9   25663       3       58.48
6        53.6      1321.2   18350       3       72.25
7        51.7      1272.7   18221       3       64.88
12       50.4       867.2   12107       3       58.12
16       50.7       543.2    7989       3       64.68

Shape: (36, 10)

Summary:
          land_area  percent_city  percent_senior   physicians  hospital_beds  \
count    36.000000     36.000000       36.000000    36.000000      36.000000
mean   2485.972222     46.172222        9.283333  1313.722222    4962.777778
std    1653.813800     19.101019        3.458199  1459.654903    3879.692625
min     654.000000     14.500000        3.900000   140.000000     481.000000
25%    1517.000000     31.350000        7.600000   509.750000    2483.500000
50%    2018.000000     47.000000        8.850000   767.000000    3876.000000
75%    2911.000000     59.725000        9.975000  1583.500000    5811.750000
max    8360.000000     90.700000       21.800000  7340.000000   16941.000000

       graduates   work_force        income  region  crime_rate
count  36.000000    36.000000     36.000000    36.0   36.000000
mean   51.002778   343.797222   4806.861111     3.0   58.265556
std     7.328164   354.312228   5452.647656     0.0   10.155822
min    30.300000    66.900000    769.000000     3.0   36.360000
25%    46.950000   146.200000   1940.750000     3.0   52.447500
50%    50.950000   230.550000   2976.500000     3.0   58.725000
75%    55.175000   366.950000   4829.500000     3.0   64.922500
max    70.700000  1541.900000  25663.000000     3.0   76.350000

In [ ]:
import pandas as pd

# Load dataset
url = "https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv"
sma_data = pd.read_csv(url)

# Count occurrences of each unique value in 'region'
region_counts = sma_data['region'].value_counts()

print(region_counts)

region
3    36
2    25
1    21
4    17
Name: count, dtype: int64

In [ ]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv"
sma_data = pd.read_csv(url)

# Sort by 'crime_rate' in descending order
sorted_data1 = sma_data.sort_values(by='crime_rate', ascending=False)

# Check the first 5 rows
top_5 = sorted_data1.head(5)

# Display region of top 5
print(top_5[['crime_rate', 'region']])
print("\nUnique region in top 5:", top_5['region'].unique())

    crime_rate  region
20       85.62       4
74       82.68       4
53       80.94       4
4        80.19       4
67       78.10       4

Unique region in top 5: [4]

In [ ]:
import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/dphi-official/Datasets/master/titanic_data.csv"
titanic_df = pd.read_csv(url)

# Check for missing values in each column
missing_data = titanic_df.isnull().sum()

# Display columns with missing values
missing_columns = missing_data[missing_data > 0]
print(missing_columns)

Age         177
Cabin       687
Embarked      2
dtype: int64

In [ ]:
import pandas as pd

# Load dataset
url = "https://raw.githubusercontent.com/dphi-official/Datasets/master/titanic_data.csv"
df = pd.read_csv(url)

age_mean_before = round(df['Age'].mean(), 2)  # e.g., 29.70
df['Age'].fillna(age_mean_before, inplace=True)
age_mean_after = round(df['Age'].mean(), 2)

print(age_mean_before)  # e.g., 29.70
print(age_mean_after)   # e.g., 29.70

29.7
29.7

<ipython-input-25-1b2422844e72>:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(age_mean_before, inplace=True)

In [ ]:
import pandas as pd

# Load dataset
url = "https://raw.githubusercontent.com/dphi-official/Datasets/master/titanic_data.csv"
df = pd.read_csv(url)

# Value counts before filling
counts_before = df['Embarked'].value_counts()

# Most frequent category
most_common = counts_before.idxmax()  # Usually 'S'

# Fill missing values with most common category
df['Embarked'].fillna(most_common, inplace=True)

# Value counts after filling
counts_after = df['Embarked'].value_counts()

# Compare before and after
print("Before filling:\n", counts_before)
print("\nAfter filling:\n", counts_after)

Before filling:
 Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

After filling:
 Embarked
S    646
C    168
Q     77
Name: count, dtype: int64

<ipython-input-26-2fe92f274ee3>:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(most_common, inplace=True)